h2{
    text-align: center;
}

.container {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
  }

button {
    border: none;
    cursor: pointer;
    background: #aaaaaa;
    color: black;
    display: inline-block;
    margin: 0 -2px;
    padding: 5px 10px;
    border: 1px solid #666666;
  }
  button:hover {
    background: #333333;
    color:white;
  }

  .cont{
    margin: auto auto;
    width: 80%;
    height: 200px;
    background-color: whitesmoke;
  }